body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.button1 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #e3e3e3;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.8);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.8);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.8);
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 20px 9px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  color: #333;
}
.button1:hover,
.button1.hover {
  background: #d8d8d8;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
  cursor: pointer;
  color: #333;
}
.button1:active,
.button1.active {
  background: #ccc;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2);
  color: #1a1a1a;
}
.button1:focus,
.button1.focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px 1px #e3e3e3;
  -moz-box-shadow: 0 0 5px 1px #e3e3e3;
  box-shadow: 0 0 5px 1px #e3e3e3;
}
.button2 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #7fbf4d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #72b140));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #72b140;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8dc661;
  -moz-box-shadow: inset 0 1px 0 0 #8dc661;
  box-shadow: inset 0 1px 0 0 #8dc661;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #6ba83c;
  color: #fff;
}
.button2:hover,
.button2.hover {
#6ca83d
  background: #6ca83d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  cursor: pointer;
}
.button2:active,
.button2.active {
#6ca83d
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #6ca83d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  -moz-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
}
.button3 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #ececec;
  font: 10px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e2e2e2));
  background: -webkit-linear-gradient(top, #fff 0%, #e2e2e2 100%);
  background: -moz-linear-gradient(top, #fff 0%, #e2e2e2 100%);
  background: linear-gradient(top, #fff 0%, #e2e2e2 100%);
  border: 1px solid #ececec;
  padding: 3px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 #fff;
  -moz-box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 #fff;
  box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 #fff;
  color: #888;
}
.button3:hover,
.button3.hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ececec));
  background: -webkit-linear-gradient(top, #fff 0%, #ececec 100%);
  background: -moz-linear-gradient(top, #fff 0%, #ececec 100%);
  background: linear-gradient(top, #fff 0%, #ececec 100%);
  -webkit-box-shadow: 0 1px 1px 0 #aaa, inset 0 -2px 0 0 rgba(255,255,255,0.4);
  -moz-box-shadow: 0 1px 1px 0 #aaa, inset 0 -2px 0 0 rgba(255,255,255,0.4);
  box-shadow: 0 1px 1px 0 #aaa, inset 0 -2px 0 0 rgba(255,255,255,0.4);
}
.button3:active,
.button3.active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #e2e2e2));
  background: -webkit-linear-gradient(bottom, #fff 0%, #e2e2e2 100%);
  background: -moz-linear-gradient(bottom, #fff 0%, #e2e2e2 100%);
  background: linear-gradient(bottom, #fff 0%, #e2e2e2 100%);
  -webkit-box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 rgba(255,255,255,0.8);
  -moz-box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 rgba(255,255,255,0.8);
  box-shadow: 0 1px 1px 0 #aaa, inset 0 1px 0 0 rgba(255,255,255,0.8);
}
.button4 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #43a1f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  border: 1px solid #2e70c4;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #2d6dc0;
}
.button4:hover,
.button4.hover {
  background: darker;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  border: 1px solid #2e70c4;
  cursor: pointer;
  text-shadow: 0 -1px 1px #2c6bbb;
}
.button4:active,
.button4.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}
.button4:focus,
.button4.focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
}
.button5 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #333));
  background: -webkit-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: -moz-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: linear-gradient(top, #4d4d4d 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  -moz-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  box-shadow: inset 0 1px 1px 0 #6c6c6c;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
}
.button5:hover,
.button5.hover {
#383838
  background: #383838;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #383838));
  background: -webkit-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: -moz-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: linear-gradient(top, #4d4d4d 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #838383;
  -moz-box-shadow: inset 0 1px 1px 0 #838383;
  box-shadow: inset 0 1px 1px 0 #838383;
}
.button5:active,
.button5.active {
#292929
  background: #292929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3e3e3e));
  background: -webkit-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: -moz-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: linear-gradient(top, #292929 0%, #3e3e3e 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  -moz-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  box-shadow: inset 0 -1px 1px 0 #5c5c5c;
}
.box {
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3a3), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #3a3 0%, #ccc 100%);
  background: -moz-linear-gradient(top, #3a3 0%, #ccc 100%);
  background: linear-gradient(top, #3a3 0%, #ccc 100%);
}
.map_box {
  border: 1px solid #555;
  width: 1000px;
}
.map_box .region_info {
  background-color: rgba(0,0,0,0.5);
  opacity: 40%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=4000%);
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 10px;
  height: 45px;
}
.map_box .region_info h2 {
  margin: 0;
}
.map_widget {
  position: relative;
}
.map_widget.large_map_widget {
  width: 969px;
  height: 593px;
  background: url("/images/map.png") no-repeat;
}
.map_widget.small_map_widget {
  border: 1px solid #555;
  width: 500px;
  height: 300px;
  background: url("/images/map500.png") no-repeat 50%;
}
.map_widget a.map_pin {
  display: block;
  position: absolute;
  width: 17px;
  height: 22px;
  background: url("/images/region_pin.png") no-repeat;
  text-indent: -9999em;
}
.map_widget a.map_pin.high_need {
  background-position: -40px 0;
}
.map_widget a.map_pin:hover,
.map_widget a.map_pin.active {
  background-position: -20px 0;
}
